In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [9]:
df = pd.read_csv('../data/online_gaming_behavior_dataset.csv')
df.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,Medium
1,9001,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,Medium
2,9002,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,High
3,9003,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,Medium
4,9004,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,Medium

In [10]:
df['EngagementLevel'] = df['EngagementLevel'].map({'Low':0,'Medium':1,'High':2})
df.head()

,PlayerID,Age,Gender,Location,GameGenre,PlayTimeHours,InGamePurchases,GameDifficulty,SessionsPerWeek,AvgSessionDurationMinutes,PlayerLevel,AchievementsUnlocked,EngagementLevel
0,9000,43,Male,Other,Strategy,16.271119,0,Medium,6,108,79,25,1
1,9001,29,Female,USA,Strategy,5.525961,0,Medium,5,144,11,10,1
2,9002,22,Female,USA,Sports,8.223755,0,Easy,16,142,35,41,2
3,9003,35,Male,USA,Action,5.265351,1,Easy,9,85,57,47,1
4,9004,33,Male,Europe,Action,15.531945,0,Medium,2,131,95,37,1

In [11]:
df.to_csv('../data/processed.csv',index=False)